@import "assets/sass/colors";
@import "assets/sass/animations";
@import "assets/sass/fonts";
@import "assets/sass/generalMixins";

.Projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem 5rem 2rem 5rem;

  &__Title {
    @include Title;
  }
  &__List {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10rem;
  }
}

.Project {
  &__Image {
    max-width: 50%;
    border-radius: 15px;
  }
  &__Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
  }
  &__Title {
    @include PoppinsBold;
    @include FntMedium;
  }
  &__Description {
    @include PoppinsRegular;
    @include FntSmall;
  }
  &__Link {
    text-decoration: none;
    color: $accentGreen;
    padding: 0 1rem 0 1rem;
    border-radius: 1rem;
    transition: all 0.2s ease;
    &:hover {
      background-color: $purple;
    }
  }
}

.Odd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.Even {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.Buttons {
  display: flex;
  gap: 2rem;
  align-items: center;

  &__Left {
    flex-direction: row-reverse;
  }
}

.Arrow {
  width: 5rem;
  &__Left {
    transform: rotate(180deg);
  }
}

//media queries for responsiveness
@media screen and (max-width: 767px) {
  .Projects {
    padding: 1rem;
  }
  .Project {
    flex-direction: column;
  }
}

@media screen and (max-width: 1366px) {
  .Projects {
    padding: 1rem;
  }
  .Project {
    flex-direction: column;
    &__Image {
      max-width: 100%;
    }
  }
  .Arrow {
    &__Left {
      transform: rotate(0deg);
    }
  }

  .Buttons {
    &__Left {
      flex-direction: row;
    }
  }
}

@media screen and (min-width: 1900px) {
  .Projects {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .Project {
    &__Content {
      max-width: 960px;
    }
    &__Image {
      max-width: 100%;
    }
    &__Title {
      @include FntLarge;
    }
    &__Description {
      @include FntMediumlarge;
    }
    &__Link {
      @include FntMediumlarge;
    }
  }
  .Arrow {
    width: 10rem;
  }

  .Buttons {
    gap: 4rem;
  }
}
