@import "assets/sass/colors";
@import "assets/sass/animations";
@import "assets/sass/fonts";
@import "assets/sass/generalMixins";
.Experience {
  position: relative;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem 2rem 5rem;

  &__Title {
    @include Title;
  }

  &__BlueLight {
    @include fade(2s);
    z-index: -1;
    position: absolute;
    min-width: 85vw;
    min-height: 52vw;
    aspect-ratio: 1.63 / 1;
    top: 0;
    left: 0;
    background: conic-gradient(
      from 180deg at 50% 50%,
      #00ffe0 0deg,
      #7000ff 360deg
    );
    filter: blur(39vw);
  }
  &__Container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0 2rem 0;
    gap: 4rem;
  }
  &__Job {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    gap: 2rem;
    width: 400px;
    min-height: 30rem;
    background: linear-gradient(180deg, #171a1b 0%, rgba(23, 26, 27, 0) 100%);
    opacity: 0.9;
    border-radius: 15px 15px 0px 0px;
    padding: 1rem 3rem 1rem 3rem;
  }
  &__Spheres {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    gap: 0.5rem;
  }
  &__Sphere-Red {
    background-color: rgba(255, 95, 86, 1);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
  }
  &__Sphere-Yellow {
    background-color: rgba(255, 189, 46, 1);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
  }
  &__Sphere-Green {
    background-color: rgba(39, 201, 63, 1);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
  }
  &__WorkTitle {
    padding: 4rem 5rem 1rem 0;
    @include FiraRegular;
    @include FntMedium;
  }
  &__WorkImg {
    width: 15rem;
  }
  &__Link {
    @include Link;
  }
}

//media queries for responsiveness
@media screen and (max-width: 767px) {
  .Experience {
    padding: 1rem;
    flex-direction: column;
    &__Container {
      width: 100%;
    }
    &__Job {
      width: 100%;
      padding: 1rem;
      min-height: 300px;
      max-width: 270px;
    }
  }
}

@media screen and (max-width: 1366px) {
  .Experience {
    min-height: 60vh;
    &__Container {
      padding: 1rem;
      gap: 2rem;
    }
    &__BlueLight {
      min-height: 150vw;
      filter: blur(200vw);
    }
  }
}

@media screen and (min-width: 1900px) {
  .Experience {
    min-height: 50vh;
    &__Container {
      padding: 2rem;
      gap: 5rem;
    }
    &__Job {
      padding: 2rem;
    }
    &__WorkTitle {
      @include FntMediumlarge;
    }
  }
}
