@import "../../assets/sass/colors";
@import "../../assets/sass/fonts";
@import "../../assets/sass/animations";
@import "assets/sass/generalMixins";
.Contact {
  position: relative;
  padding-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  gap: 1rem;
  &__Socials {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__Social-Icon {
    max-width: 82px;
    height: auto;
    fill: $white;
    transition: all 0.2s ease-in-out;
    &:hover {
      fill: $accentGreen;
    }
  }
  &__Proposal {
    @include PoppinsBold;
  }
  &__Email {
    color: $accentGreen;
  }
  &__Copyright {
    margin: 4rem 0 2rem;
    font-size: 0.8rem;
  }
  &__BlueLight {
    @include fade(1s);
    @include BlueLightCircle(38vw, 38vw, 10vw, auto, auto, 10vw);
  }
}

//media queries
@media screen and (max-width: 767px) {
  .Contact {
    padding: 1rem;
    @include FntSmall;
    &__Social-Icon {
      max-width: 48px;
      height: auto;
    }
  }
}

@media screen and (max-width: 1250px) {
  .Contact {
    &__Socials {
      gap: 0.5rem;
    }
  }
}

@media screen and (min-width: 1900px) {
  .Contact {
    max-height: 650px;
    @include FntMediumlarge;
    &__Socials {
      gap: 2rem;
    }
    &__Copyright {
      @include FntMedium;
    }
  }
}
