@import "assets/sass/colors";
@import "assets/sass/animations";
@import "assets/sass/fonts";
@import "assets/sass/generalMixins";

.Popup {
  max-width: 100vw;
  position: fixed;
  background-color: rgba(0, 2, 2, 0.76);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &__Opened {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  &__Closed {
    display: none;
  }
  &__Container {
    max-width: 1040px;
    padding: 5rem 1rem 5rem 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
  }
  &__Content {
    background: rgba(238, 242, 255, 1);
    min-height: 450px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  &__Title {
    @include PoppinsBold;
    font-size: 50px;
    line-height: 60px;
    margin: 0 0 15px;
  }
  &__Description {
    @include PoppinsRegular;
    max-width: 385px;
    font-size: 18px;
    line-height: 32px;
    opacity: 0.5;
  }
  &__Close {
    background: none;
    border: none;
    cursor: pointer;
    color: $accentGreen;
    line-height: 50px;
    font-size: 18px;
    font-weight: var(--fw600);
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    &:hover {
      color: $black;
    }
  }
}
