@import "assets/sass/fonts";
@import "assets/sass/colors";
@import "assets/sass/animations";
@import "assets/sass/generalMixins";
.Header {
  position: relative;
  @include fade(0.2s);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem 2rem 5rem;

  &__Links {
    display: flex;
    gap: 4rem;
  }

  &__Link {
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    @include FntMedium;
    color: $white;
    transition: all 0.2s ease-in;
    &:hover {
      background-color: $purple;
      border-radius: 2rem;
    }
  }
  &__Socials {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__Social-ico {
    transition: all 0.2s ease-in;
    &:hover {
      background: $purple;
      border-radius: 40%;
    }
  }
  &__BlueLightCircle {
    @include fade(1s);
    @include BlueLightCircle(38vw, 38vw, auto, 10vw, 0, auto);
  }
}

//media queries for responsiveness
@media screen and (max-width: 767px) {
  .Header {
    padding: 1rem;
    display: block;
    &__Links {
      display: none;
    }

    &__Socials {
      justify-content: center;
      gap: 1rem;
    }
  }
}

@media screen and (max-width: 1366px) {
  .Header {
    &__Links {
      gap: 1rem;
    }
    &__Social-ico {
      justify-content: center;
      gap: 1rem;
    }
    &__BlueLightCircle {
      @include BlueLightCircle(38vw, 38vw, auto, 10vw, 0, auto);
    }
  }
}

@media screen and (min-width: 1900px) {
  .Header {
    &__Link {
      @include FntMediumlarge;
    }
  }
}
